body {
  max-width: 100%;
  font-family: "Outfit-Regular";
  margin: 0 auto;
}

.header__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 38px;
  padding-left: 60px;
  background-color: var(--color-secondary-02);
  font-size: 16px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 100%;
  font-family: "Outfit-Medium";
  font-weight: 500;
}

.tab-active {
  border-radius: 20px 20px 0 0;
  color: var(--color-grayscale-07);
  background-color: var(--color-grayscale-01);
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 60px;
  background-color: var(--color-grayscale-01);
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 51.8px;
  font-size: 37px;
  color: var(--color-grayscale-07);
  font-family: "Outfit-Regular";
  font-weight: 600;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 57px;
  border-radius: 16px;
  font-family: "Outfit-SemiBold";
  font-weight: 600;
  font-size: 20px;
  color: var(--color-grayscale-07);
  background-color: var(--color-primary-01);
}

.hero {
  display: flex;
  flex-direction: row;
  height: 662px;
  padding: 0 60px;
  background-color: var(--color-grayscale-01);
}

.hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: "Outfit-Bold";
  font-weight: 700;
  font-size: 96px;
  line-height: 106%;
  margin: 0;
  color: var(--color-grayscale-07);
}

.hero__description {
  font-family: "Outfit-regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 40px;
  color: var(--color-grayscale-07);
}

.hero__images {
  position: relative;
}

.hero__images-woman {
  position: absolute;
  width: 489px;
  height: 610px;
}

.hero__images-background {
  width: 711px;
  height: 333px;
}

.about {
  background-color: var(--color-grayscale-01);
}

.about__info {
  color: var(--color-grayscale-07);
}

.about__description {
  display: flex;
  flex-direction: column;
  font-family: "Outfit-SemiBold";
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
}

.underline {
  position: relative;
}

.underline__image {
  position: absolute;
}

.about__images {
  display: flex;
  flex-direction: column;
}

.advantages__list {
  list-style-type: none;
}

.about__images {
  position: relative;
  opacity: 0.7;
  z-index: 1;
}

.about__images-orange {
  position: absolute;
  width: 420px;
  height: 257px;
}

.about__images-purple {
  position: absolute;
  width: 406px;
  height: 256px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 50%;
}
