:root {
  --color-grayscale-00: #000000;
  --color-grayscale-01: #181818;
  --color-grayscale-02: #444444;
  --color-grayscale-03: #b9b9b9;
  --color-grayscale-04: #cfcfcf;
  --color-grayscale-05: #e4e4e4;
  --color-grayscale-06: #f5f5f5;
  --color-grayscale-07: #ffffff;
  --color-primary-00: #7b31d4;
  --color-primary-01: #954ced;
  --color-primary-02: #a64ced;
  --color-primary-03: #ba8bf3;
  --color-primary-04: #954ced33;
  --color-secondary-01: #2fdbbc;
  --color-secondary-02: #ffaa4c;
  --color-secondary-03: #c1db2f;
  --color-additional-01: #ff6c2d;
  --color-additional-02: #ec1211;

  --secondary-button-border: 2px solid var(--color-primary-01);
  --primary-button-border-focus: 4px solid var(--color-primary-03);
  --secondary-button-border-pressed: 2px solid var(--color-primary-02);
  --secondary-button-border-disabled: 2px solid var(--color-grayscale-03);

  --input-border: 1px solid #f1f1f1;
  --input-border-focus: 1px solid #a7a7a7;
  --input-border-error: 1px solid var(--color-additional-02);

  --button-border-radius: 16px;
  --input-border-radius: 14px;

  --font-family-base: "Outfit";

  --container-width: 1320px;
  --container-padding-x: 60px;

  --section-padding-y: 50px;
}
